* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 15px;
  position: relative;
}

.nav-logo {
  color: greenyellow;
  background-color: indianred;
}

.nav-logo a {
  font-weight: 900;
}

.nav-menu {
  display: flex;
}

.nav-menu a {
  display: block;
  padding: 8px 12px;
  color: #fff;
}

.nav-menu li:hover {
  background-color: #e5e5e5;
  border-radius: 4px;
}

.nav-icons ul {
  display: flex;
  color: #fff;
}

.nav-icons li {
  margin-right: 10px;
}

.nav-toggle {
  display: none;
}

/* mobile */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    padding-top: 10px;
  }

  .nav-menu li:hover {
    width: 100%;
    text-align: center;
  }

  .nav-icons {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    display: none;
  }

  .nav-icons ul {
    justify-content: center;
    width: 100%;
  }

  .nav-toggle {
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-icons.active {
    display: flex;
  }
}
