* {
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.sr-only {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.center-align {
  position: relative;
  width: 1130px;
  height: 100%;
  margin: 0 auto;
}

/* header */

.hd {
  width: 1130px;
  height: 160px;
}

.header-top {
  position: absolute;
  top: 12px;
  right: 27px;
  padding-bottom: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.naver-start {
  display: inline-block;
  padding-top: 3px;
}

.naver-start::after {
  margin: -3px 5px 0 3px;
  content: "";
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-position: -382px -213px;
  background-size: 440px 410px;
  vertical-align: top;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-bottom: 5px;
}

.jr-hap {
  display: inline-block;
  margin-top: -7px;
  margin-right: 5px;
}

.logo_naver {
  margin: 50px 0;
  display: inline-block;
  width: 222px;
  height: 52px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: 0 -158px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  vertical-align: top;
}

fieldset {
  border: 0;
  position: relative;
}

.search {
  position: absolute;
  top: 50%;
  left: 275px;
  width: 480px;
  height: 55px;
  margin-top: -18px;
  display: flex;
  border: 2px solid #19ce60;
}

#search-input {
  width: 440px;
  height: 24px;
  display: inline-block;
  padding: 20px 8px;
  border: 0;
  outline: none;
  font-size: 20px;
}

#search-btn {
  width: 55px;
  height: 55px;
  background-color: #19ce60;
  border-radius: 0 2px 2px 0;
  border: 0;
  display: inline-block;
  position: absolute;
  right: -55px;
  top: -2px;
  cursor: pointer;
}

.search-img {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -180px -386px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
}

#search-keyboard {
  position: absolute;
  top: 20px;
  right: 30px;
  display: block;
  width: 20px;
  height: 10px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -420px -248px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#search-history {
  position: absolute;
  top: 23px;
  right: 10px;
  display: block;
  width: 10px;
  height: 5px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -404px -258px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* nav */
#nv {
  border-top: 1px solid #e4e8eb;
  border-bottom: 1px solid #e4e8eb;
  padding: 8px 0;
}

.nav-group {
  display: flex;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.nav-menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-menu > li {
  margin: 0 15px 0 0;
  list-style: none;
}

.gp1 {
  color: #03c75a;
  display: inline-block;
}

.mail {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -228px -386px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: top;
  margin: 3px 8px 0 0;
}

.tv {
  display: inline-block;
  width: 12px;
  height: 14px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -256px -212px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: top;
  margin: 9px 2px 0 0;
}

.gp2 {
  color: #000;
}

.more {
  display: block;
  margin-left: 20px;
}

.more-icon {
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-position: -319px -258px;
  background-size: 440px 410px;
  width: 11px;
  height: 7px;
  margin-left: 5px;
  cursor: pointer;
}

.search-ranking {
  display: inline-block;
  margin: 0;
}

.rank-number {
  color: #03c75a;
  margin: 15px;
}

.rank-title {
  margin-right: 160px;
}

/* main */

#mn {
  padding: 20px;
}

.first-ad-login {
  display: flex;
}

.ad {
  display: inline-block;
  width: 755px;
  height: 133px;
  margin-left: 0;
  background-color: #e5e5e5;
  margin-bottom: 10px;
}

.login {
  display: inline-block;
  width: 350px;
  height: 135px;
  margin: 0;
  background-color: #e5e5e5;
}

.second-news-weather {
  display: flex;
}

.news-group {
  margin-right: 25px;
}

.news-header {
  width: 755px;
  background-color:#e5e5e5;
  display: flex;
  padding: 10px 0;
  font-size: 13px;
  margin-bottom: 10px;
}

.com-issue {
  margin-left: 20px;
}

.com-icon{
    display: inline-block;
    width:6px;
    height: 10px;
    background-image: url(./sp_main_1f05c0.png);
    background-size: 440px 410px;
    background-repeat: no-repeat;
    background-position: -262px -125px;
    margin: 0 5px ;
    cursor: pointer;

}

.cate-issue {
  margin-right: 20px;
}

.cate-issue a:first-child{
    color:#3565c9;
    content: "";
   
}

.weather-group {
  width: 350px;
  margin: 0;
}

.weather {
  background-color:#e5e5e5;
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
}

.second-ad {
  background-color: #e5e5e5
  width: 350px;
  height: 250px;
  margin: 0;
}
