* {
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

.sr-only {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.center-align {
  position: relative;
  width: 1130px;
  height: 100%;
  margin: 0 auto;
}

/* header */

.hd {
  width: 1130px;
  height: 160px;
}

.header-top {
  position: absolute;
  top: 12px;
  right: 27px;
  padding-bottom: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.naver-start {
  display: inline-block;
  padding-top: 3px;
}

.naver-start::after {
  margin: -3px 5px 0 3px;
  content: "";
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-position: -382px -213px;
  background-size: 440px 410px;
  vertical-align: top;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-bottom: 5px;
}

.jr-hap {
  display: inline-block;
  margin-top: -7px;
  margin-right: 5px;
}

.logo_naver {
  margin: 50px 0;
  display: inline-block;
  width: 222px;
  height: 52px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: 0 -158px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  vertical-align: top;
}

fieldset {
  border: 0;
  position: relative;
}

.search {
  position: absolute;
  top: 50%;
  left: 275px;
  width: 480px;
  height: 55px;
  margin-top: -18px;
  display: flex;
  border: 2px solid #19ce60;
}

#search-input {
  width: 440px;
  height: 24px;
  display: inline-block;
  padding: 20px 8px;
  border: 0;
  outline: none;
  font-size: 20px;
}

#search-btn {
  width: 55px;
  height: 55px;
  background-color: #19ce60;
  border-radius: 0 2px 2px 0;
  border: 0;
  display: inline-block;
  position: absolute;
  right: -55px;
  top: -2px;
  cursor: pointer;
}

.search-img {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -180px -386px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
}

#search-keyboard {
  position: absolute;
  top: 20px;
  right: 30px;
  display: block;
  width: 20px;
  height: 10px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -420px -248px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#search-history {
  position: absolute;
  top: 23px;
  right: 10px;
  display: block;
  width: 10px;
  height: 5px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -404px -258px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* nav */
#nv {
  border-top: 1px solid #e4e8eb;
  border-bottom: 1px solid #e4e8eb;
  padding: 8px 0;
}

.nav-group {
  display: flex;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.nav-menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-menu > li {
  margin: 0 15px 0 0;
  list-style: none;
}

.gp1 {
  color: #03c75a;
  display: inline-block;
}

.mail {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -228px -386px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: top;
  margin: 3px 8px 0 0;
}

.tv {
  display: inline-block;
  width: 12px;
  height: 14px;
  background-image: url(./sp_main_1f05c0.png);
  background-position: -256px -212px;
  background-size: 440px 410px;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: top;
  margin: 9px 2px 0 0;
}

.gp2 {
  color: #000;
}

.more {
  display: block;
  margin: 0 10px;
}

.more-icon {
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-position: -319px -258px;
  background-size: 440px 410px;
  width: 11px;
  height: 7px;
  margin-left: 5px;
  cursor: pointer;
}

.search-icon {
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-position: -319px -258px;
  background-size: 440px 410px;
  width: 11px;
  height: 7px;
  margin-left: 120px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.search-ranking {
  position: relative;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

.rank-number {
  color: #03c75a;
  margin: 5px;
  cursor: pointer;
}

.rank-title {
  cursor: pointer;
  margin: 0 10px;
}

.search-charts {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -15px;
  width: 290px;
  background-color: #fff;
  display: none;
  cursor: pointer;
}

.search-charts ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-charts li {
  padding: 5px 0;
}

.search-charts .rank-title {
  margin-right: 10px;
}

.search-charts .rank-number {
  margin-left: 20px;
}

.search-ranking:hover .search-charts {
  display: inline-block;
}

/* main */

#mn {
  padding: 20px;
}

.first-ad-login {
  display: flex;
}

.ad {
  display: inline-block;
  width: 755px;
  height: 133px;
  margin-left: 0;
  background-image: url(https://ssl.pstatic.net/tveta/libs/1306/1306993/38045339f1a38da82c46_20201105115947010.jpg);
  background-size: contain;
  margin-bottom: 10px;
  cursor: pointer;
}

.login {
  display: inline-block;
  width: 350px;
  height: 135px;
  margin: -2px 0 10px 18px;
  background-color: #e5e5e5;
}

/* 2nd */

#second-news-weather {
  display: flex;
  height: 250px;
  margin-bottom: 30px;
}

.news-group {
  margin-right: 25px;
}

.news-header {
  width: 755px;
  background-color: #e5e5e5;
  display: flex;
  padding: 10px 0;
  font-size: 13px;
  margin-bottom: 10px;
}

.com-issue {
  margin-left: 20px;
}

.com-icon {
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(./sp_main_1f05c0.png);
  background-size: 440px 410px;
  background-repeat: no-repeat;
  background-position: -262px -125px;
  margin: 0 5px;
  cursor: pointer;
}

.cate-issue {
  margin-right: 20px;
}

.cate-issue a:first-child {
  color: #3565c9;
  content: "";
}

.news-list h3 {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e5e5e5;
}

.news-list a {
  color: #000;
  font-weight: 700;
  font-size: 13px;
}

.news-list h3::before {
  content: "";
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-size: 440px 410px;
  background-position: -228px -296px;
  width: 27px;
  height: 24px;
}

.news-list h3::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(./sp_main_1f05c0.png);
  background-size: 440px 410px;
  background-repeat: no-repeat;
  background-position: -262px -125px;
  margin-left: 8px;
  cursor: pointer;
}

.news-ul {
  width: 755px;
  margin-left: 0;
  list-style: none;
  padding: 0;
  display: inline-block;
}

.news-ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  padding: 25px 0;
  cursor: pointer;
}

.weather-group {
  width: 350px;
  margin: 0;
}

.weather {
  background-color: #e5e5e5;
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
}

.second-ad {
  background-image: url(https://ssl.pstatic.net/tveta/libs/1296/1296176/345f077cc26f654cb5b2_20201105102822522.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  margin: 0;
  cursor: pointer;
}

.notice {
  border-top: 1px solid #e4e8eb;
  border-bottom: 1px solid #e4e8eb;
  padding: 20px 0;
}

.Creators-group {
  display: flex;
}

.Developers-group {
  display: flex;
}

.notice-margin {
  margin: 10px;
}

.notice-margin:nth-child(1) {
  margin: 10px 0;
}

/* 3rd */

#third-category-article {
  width: 755px;
  margin: 0;
}

.theme-head-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title-area {
  margin-left: 0;
  font-size: 14px;
}

.title-area span {
  font-size: 12px;
}

.info-area {
  margin-right: 0;
}

.info-area span {
  margin-right: 10px;
}

.info-area span strong {
  margin-right: 5px;
}

.info-area a::before {
  content: "";
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-size: 440px 410px;
  background-position: -319px -308px;
  width: 11px;
  height: 11px;
  margin-right: 5px;
}

.theme-fix-wrap {
  position: relative;
}

#theme-prev,
#theme-next {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(./sp_main_1f05c0.png);
  background-repeat: no-repeat;
  background-size: 440px 410px;
  border: none;
  cursor: pointer;
}

#theme-prev {
  background-position: -86px -342px;
  position: absolute;
  top: 5px;
  left: 10px;
}

#theme-next {
  background-position: -128px -342px;
  position: absolute;
  top: 5px;
  right: -5px;
}

.theme-list {
  width: 755px;
  height: 48px;
  /* white-space: nowrap; */
  overflow: hidden;
}

.theme-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.theme-list li {
  width: 94px;
  height: 48px;
  text-align: center;
  border: 1px solid #e4e8eb;
  display: block;
  padding-top: 13px;
}
