* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
}

button:active,
button {
  outline: none;
}

.container {
  border: 2px solid red;
  width: 768px;
}
/*width 값을 지정하면, width 크기가 줄어도 그 자리 유지*/
/*모바일에서도 스크롤 생기지 않고 유지*/
/* width 값을 주지 않거나 100%로 주면 알아서 릴렉스하게 움직임 */

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items__main {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.items__list {
  background-color: cornsilk;
  display: flex;
}
