* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

button,
button:focus,
button:active {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

body {
  font-family: Roboto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo .fa-youtube {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Viedo */
.player {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 500px;
}

/*info*/
.infoAndUpNext > .info {
  padding: var(--padding);
}

/*metadata*/
.info .metadata .hashtag {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtag li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
}

.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/*actions*/
.info .actions {
  display: flex;
  justify-content: space-between;
  margin: var(--padding);
}

.info .actions li {
  display: flex;
  flex-direction: column;
  color: var(--grey-dark-color);
}

.info .actions button i {
  font-size: 16px;
  margin-bottom: 10px;
  margin: 0 auto;
}

.info .actions .active {
  color: var(--blue-color);
}

.info .actions li span {
  font-size: var(--font-small);
}

/*channel*/
.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
  display: flex;
  align-items: center;
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe button {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/*up next*/
.upNext {
  padding: var(--padding);
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  display: inline-block;
  margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
  display: flex;
  align-items: flex-start;
  margin-top: calc(var(--padding) / 2);
}

.upNext .item .img {
  flex: 1 1 35%;
  margin-right: calc(var(--padding) / 2);
}

.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
}

.upNext .item .info .title {
  font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
  }
}
