* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

#open {
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  margin-top: 60px;
  background-color: #00b2ca;
  border: none;
  color: white;
  transition: all 300ms ease-in;
}

#open:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

button {
  cursor: pointer;
}

button:focus {
  transform: scale(1.05);
  outline: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.modal {
  background-color: white;
  width: 300px;
  padding: 20px;
}

.modal-content {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}

.modal p {
  font-size: 15px;
}

#close {
  text-align: right;
}
