* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.open {
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  background-color: #00b2ca;
  color: white;
  border: none;
  transition: all 200ms ease-in;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

button {
  background-color: transparent;
  border: none;
}

.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.9;
  background-color: white;
}

.modal__btn {
  padding: 0 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 12px;
  opacity: 0.9;
  font-size: 15px;
}
.modal__btn:hover {
  background-color: aliceblue;
}
