html,
body {
  margin: 0;
}
#content,
#editor {
  border: 1px solid #e5e5e5;
  height: auto;
  padding: 10px;
  margin: 10px 0;
}

#content:focus,
#editor:focus {
  outline: none;
}

#content img,
#editor img {
  width: 50%;
}

.img-move-btn {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 10px;
}
